@model HarvestHub.Models.Contador

@{
    ViewData["Title"] = "Detalhes do Contador";
}

<h1>Detalhes do Contador</h1>

<div>
    <h4>Contador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.DataAdmissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.DataAdmissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CRC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CRC)
        </dd>

        @if (Model.Funcionario.Contratos.Count > 0)
        {
            <hr />
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Funcionario.Contratos)
            </dt>

            <table class="table">
                <thead>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Funcionario.Contratos.First().NumeroContrato)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Funcionario.Contratos.First().Telefone)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Funcionario.Contratos.First().ValorTotal)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Funcionario.Contratos.First().DataInicio)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.Funcionario.Contratos.First().DataFim)
                    </td>
                </tr>
                </thead>

                <tbody>
                @foreach (var contrato in Model.Funcionario.Contratos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => contrato.NumeroContrato)
                        </td>
                        <td>
                            @Html.DisplayFor(model => contrato.Telefone)
                        </td>
                        <td>
                            @Html.DisplayFor(model => contrato.ValorTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(model => contrato.DataInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(model => contrato.DataFim)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }

        @if (Model.Receitas.Count > 0)
        {
            <hr />
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Receitas)
            </dt>

            <table class="table">
                <thead>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Receitas.First().Tipo)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Receitas.First().Valor)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Receitas.First().DataRegistro)
                        </td>
                    </tr>
                </thead>

                <tbody>
                @foreach (var contrato in Model.Receitas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => contrato.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(model => contrato.Valor)
                        </td>
                        <td>
                            @Html.DisplayFor(model => contrato.DataRegistro)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Funcionario.Id">Editar</a> |
    <a asp-action="Index">Voltar para Contadores</a>
</div>
