@model HarvestHub.Models.GerenteDeProducao

@{
    ViewData["Title"] = "Detalhes do Gerente de Producao";
}

<h1>Detalhes do Gerente de Producao</h1>

<div>
    <h4>Gerente de Producao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.DataAdmissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.DataAdmissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CREA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CREA)
        </dd>
    </dl>
    <hr />
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Funcionario.Contratos)
    </dt>
    <tbody>
    @foreach (var contrato in Model.Funcionario.Contratos)
    {
        <tr>
            <td>
                @Html.DisplayNameFor(model => contrato.DataInicio)
            </td>
            <td>
                @Html.DisplayNameFor(model => contrato.Telefone)
            </td>
        </tr>
    }
    </tbody>

    <hr />
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Patrimonios)
    </dt>
    <tbody>
    @foreach (var patrimonio in Model.Patrimonios)
    {
        <tr>
            <td>
                @Html.DisplayNameFor(model => patrimonio.DataAquisicao)
            </td>
            <td>
                @Html.DisplayNameFor(model => patrimonio.Valor)
            </td>
        </tr>
    }
    </tbody>
    <hr />
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Insumos)
    </dt>
    <tbody>
    @foreach (var insumo in Model.Insumos)
    {
        <tr>
            <td>
                @Html.DisplayNameFor(model => insumo.Codigo)
            </td>
            <td>
                @Html.DisplayNameFor(model => insumo.Marca)
            </td>
            <td>
                @Html.DisplayNameFor(model => insumo.Tipo)
            </td>
            <td>
                @Html.DisplayNameFor(model => insumo.Volume)
            </td>
            <td>
                @Html.DisplayNameFor(model => insumo.Custo)
            </td>
        </tr>
    }
    </tbody>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Funcionario.Id">Editar</a> |
        <a asp-action="Index">Voltar para Gerentes de Producao</a>
</div>
