@model HarvestHub.Models.RecursosHumanos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Salario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Salario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.DataAdmissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.DataAdmissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.CPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CRA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CRA)
        </dd>
    </dl>
    <hr />
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Funcionario.Contratos)
    </dt>
    <tbody>
    @foreach (var contrato in Model.Funcionario.Contratos)
    {
        <tr>
            <td>
                @Html.DisplayNameFor(model => contrato.DataInicio)
            </td>
            <td>
                @Html.DisplayNameFor(model => contrato.Telefone)
            </td>
        </tr>
    }
    </tbody>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Funcionario.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
